@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
}

/* free ship css start */

.free-ship {
  background-color: #5a6d57;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.free-ship p {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

/* free ship css end */


/* navbar css start */
.navbar-brand .logo {
  width: 184px;
  height: 46px;
}

.nav-icons a{
  text-decoration: none;
  color: #000;
}

/* navbar css end */


/* top banner css start */

#top-banner {
  padding-bottom: 60px;
}

/* top banner css end */

/* carousel css start */

.carousel-item img {
  height: 600px;
  position: relative;
}

.carousel-img-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.carousel-img-text h3 {
  font-size: 34px;
  font-weight: 400;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}

.carousel-img-text a {
  background-color: #fff;
  border-radius: 0;
  font-size: 14px;
  padding: 7.5px 63px;
}

.carousel-img-text a:hover {
  background-color: #000;
  color: #fff;
}

/* carousel css end */


/* best seller css start */

#best-seller {
  padding-bottom: 60px;
}

#best-seller .card {
  border-radius: 0;
  transition: transform 0.3s ease-in-out;
  /* animation: scaleUp 1.4s ease-out forwards; */
}

/* @keyframes scaleUp {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
} */

#best-seller .card:hover {
  transform: rotate(5deg);
}

/* best seller css end */

/* collection css start */

#collection {
  padding-bottom: 60px;
}

#collection .collect-img {
  border: 2px solid transparent;
  animation: flipIn 1s ease-out forwards;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@keyframes flipIn {
  from {
    opacity: 0;
    transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

#collection .collect-img:hover {
  border-color: #007bff;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8), 0 0 40px rgba(0, 123, 255, 0.6),
    0 0 60px rgba(0, 123, 255, 0.4);
}

.img3 {
  margin-bottom: 110px;
}

/* collection css end */


/* follow css start */

#follow {
  padding-bottom: 60px;
}

#follow .images .picture1 {
  width: 603px;
}

#follow .images .picture2,
.picture3,
.picture4,
.picture5 {
  width: 310px;
}

.picture {
  transition: transform 0.5s ease;
}

.picture:hover {
  transform: rotate(360deg);
}

/* follow css end */

/* footer css start */

#footer {
  background-color: #404040;
  height: fit-content;
  color: #fff;
  padding: 40px 45px;
}

.footer-icons i{
    font-size: 20px;
}

#footer ul li a{
  text-decoration: none;
  color: #fff;
}

/* footer css end */


@media only screen and (max-width: 767px) {
  .carousel-item img {
    height: 200px;
  }

  .carousel-img-text{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff; 
    padding: 10px;
  }

  .carousel-img-text h3 {
    font-size: 16px;
  }
  
  .carousel-img-text a {
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 20px;
  }

  .img3 {
    margin-bottom: 15px;
  }

  #footer {
    padding: 20px 15px;
  }
}
